.main{
	width: 100%;
}
.report_reasons{
	width: 100%;
	margin-top: .7rem;
	padding: 0 .26rem;
}
.report_title{
	font-size: .3rem;
	color: #333;
	margin-bottom: .34rem;
}
.report_reasons li{
	width: 100%;
	margin-bottom: .36rem;
	font-size: .26rem;
	color: #444;
	
}
.report_reasons li span{
	margin-left: .18rem;
}
#report_description{
	width: 100%;
	height: 2.38rem;
	border:.01rem solid #e9e9e9;
	border-radius: .06rem;
	outline: none;
	color: #333;
	font-size: .24rem;
	padding: .26rem .26rem 0;
}
/*修改提示文字的颜色*/

textarea::-webkit-textarea-placeholder { /* WebKit browsers */ 

color: #999; 

} 

textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 

color: #999; 

} 

textarea::-moz-placeholder { /* Mozilla Firefox 19+ */ 

color: #999; 

} 

textarea:-ms-textarea-placeholder { /* Internet Explorer 10+ */ 

color: #999; 

}
.report_btn{
	width: 100%;
	margin-top: .9rem;
	text-align: center;
}
.report_btn button{
	width: 5.94rem;
	height: .88rem;
	text-align: center;
	line-height: .88rem;
	background: #b4b4b4;
	color: #fff;
	font-size: .3rem;
	border-radius: .08rem;
}