.main{
	width: 100%;
}
#task_help{
	margin-right: .2rem;
}
.task_div{
	width: 100%;
	margin-top: .7rem;
	padding: 0 .4rem;
}
.task_infor{
	width: 100%;
	height: auto;
	background: #fff;
	border-radius: .06rem;
	box-shadow:5px 5px 5px #f4f5f9,5px -5px 5px #f4f5f9,-5px 5px 5px #f4f5f9,-5px -5px 5px #f4f5f9;
}
.infor_top{
	width: 100%;
	height: auto;
	padding: .3rem .26rem;
	overflow: hidden;
}
.top_img{
	width: 25%;
	height: 1.12rem;
	float: left;
}
.top_img img{
	width: 1.12rem;
	height: 100%;
}
.top_txt{
	width: 75%;
	float: right;
}
.top_txt p:nth-child(1){
	font-size: .26rem;
	color: #333;
	margin-top: .18rem;
}
.top_txt p:nth-child(1) span{
	font-size: .24rem;
	color: #999;
	margin-left: .14rem;
}
.top_txt p:nth-child(2){
	font-size: .26rem;
	color: #fd4848;
	margin-top: .18rem;
}
.infor_bot{
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	font-size: .24rem;
	color: #999;
	overflow: hidden;
	padding: 0 .26rem;
	border-top: .01rem solid #ebebeb;
}
.infor_bot p:nth-child(1){
	float: left;
}
.infor_bot p:nth-child(2){
	float: right;
}
.main_middle{
	width: 100%;
	margin-top: .8rem;
}
.main_middle ul{
	width: 100%;
	padding: 0 .26rem;
}
.task_title{
	font-size: .26rem;
	color: #333;
	margin-bottom: .3rem;
}
.task_specification li{
	width: 100%;
	font-size: .24rem;
	color: #666;
	margin-bottom: .2rem;
}
.sample_picture{
	width: 100%;
	margin-top: .8rem;
	overflow: hidden;
}
.sample_picture li{
	width: 30.5%;
	height: 2.66rem;
	float: left;
}
.sample_picture li+li{
	margin-left: .26rem;
}
.sample_picture li img{
	width: 100%;
	height: 100%;
	border:.01rem solid #ebebeb;
}
.task_steps{
	width: 100%;
	margin-top: .8rem;
}
.task_steps li{
	margin-bottom: .32rem;
}
.task_steps li p:nth-child(1){
	font-size: .24rem;
	color: #333;
}
.task_steps li p:nth-child(2){
	font-size: .24rem;
	color: #666;
	margin-top: .18rem;
}
.task_bg{
	width: 100%;
	height: .2rem;
	background: #f3f4f8;
}
.task_btn{
	width: 100%;
	text-align: center;
	padding: .16rem 0;
}
.task_btn button{
	width: 6.91rem;
	height: .88rem;
	line-height: .88rem;
	background: #333;
	border-radius: .08rem;
	color: #fff;
	font-size: .3rem;
	text-align: center;
}
/*模态框*/
.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 80%;
    margin: 60% auto;
    background-color:#fff;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
    border-radius: .12rem;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal-header{
	width:100%;
	overflow: hidden;
}
.modal-title{
	width:100%;
	text-align: center;
	font-size: .3rem;
	color: #333;
}
.close{
    color: #b7b7b7;
    font-size: .6rem;
    font-weight: bold;
    transition: all 0.3s;
    float: right;
    margin-right: .2rem;
}
.modal-body{
	width: 100%;
	height: auto;
	margin-top: .28rem;
}
.modal-body ul{
	width:100%;
	font-size: .26rem;
	color: #666;
	padding: 0 .26rem;
}
.modal-body ul li{
	width: 100%;
	margin-bottom: .42rem;
}
.modal-footer{
	width: 100%;
	text-align: center;
	margin: .3rem 0;
}
.modal-footer button{
	width: 3.3rem;
	height: .8rem;
	background: #333;
	border-radius: .08rem;
	color: #fff;
	text-align: center;
	line-height: .8rem;
}