<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/drawback/assets/css/common.css" />
    <link rel="stylesheet" href="/drawback/css/mine/center.css" />
    <link rel="stylesheet" href="/drawback/assets/css/swiper.min.css"/>
    <link rel="stylesheet" href="/drawback/assets/layer_mobile/need/layer.css" />
    <script type="text/javascript" src="/drawback/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/drawback/assets/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="/drawback/assets/js/font-size.js"></script>
    <script type="text/javascript" src="/drawback/assets/js/global_variable.js"></script>
    <script type="text/javascript" src="/drawback/assets/js/swiper.min.js"></script>
    <title>个人中心</title>
</head>
<body style="background:#fff;">
<div class="main">
    <div class="main_top">
        <ul class="hea_ul">
            <li class="first" id="uploadImg">
                 <img id="headImg" />
                 <input type="file" id="image" name="image" style="display:none;" onchange="uploadHeadImg()"/>
            </li>
            <li class="second">
                <p><span id="set_nickname"></span>&nbsp;&nbsp;(<i id="iId">签名：<em></em></i>)<button class="copy" data-clipboard-action="copy" data-clipboard-target="em">复制</button></p>
                <p class="rank"></p>
            </li>
        </ul>
    </div>
    <div class="main_middle">
        <ul>
            <li>
                <p id="pid"></p>
                <p>可提金额</p>
                <div class="mid_line"></div>
            </li>

            <li>
                <p id="lowerId"></p>
                <p>累计金额</p>
            </li>
        </ul>
        <!-- 轮播 -->
        <!--<div class="swiper-container" id="lunboIdOut">
            <div class="swiper-wrapper" id="lunboIdIn">
                <div class="swiper-slide">
                    <img src="../image/mine/goods_list.jpg" alt="">
                    </div>
                <div class="swiper-slide">
                    <img src="../image/mine/goods_list.jpg" alt="">
                    </div>
                <div class="swiper-slide">
                    <img src="../image/mine/goods_list.jpg" alt="">
                    </div>
                </div>
            <div class="swiper-pagination "></div>
       </div>-->
        <div id="lunboIdOut">
            <img src="/drawback/image/mine/goods_list.jpg" alt="">
        </div>
    </div>
    <div class="main_bot">
        <ul>
            <li id="wallet">
                <p><img src="/drawback/image/mine/wallet.png" /></p>
                <p>我的钱包</p>
            </li>
            <li id="home">
                <p><img src="/drawback/image/mine/team.png" /></p>
                <p>热点趣事</p>
            </li>
            <li id="min">
                <p><img src="/drawback/image/mine/query.png" /></p>
                <p>我的趣事</p>
            </li>
            <li id="check">
                <p><img src="/drawback/image/mine/upload.png" /></p>
                <p>审核趣事</p>
            </li>
            <!--<li onclick="window.location='${request.contextPath}/youduomiopen/wechat/subsidies_query.jsp?openid=<%=openid%>&userId=<%=userId%>'">
                <p><img src="../image/mine/subsidy.png" /></p>
                <p>补贴查询</p>
            </li>
            <li onclick="window.location='${request.contextPath}/youduomiopen/wechat/online_service.jsp?openid=<%=openid%>&userId=<%=userId%>'">
                <p><img src="../image/mine/service.png" /></p>
                <p>客服服务</p>
            </li>
            <li onclick="window.location='../makeEveryDay/makeEveryDay.html'">
                <p><img src="../image/mine/make_every.png" /></p>
                <p>天天赚</p>
            </li>
            <li onclick="window.location='${request.contextPath}/youduomiopen/wechat/task_query.jsp?openid=<%=openid%>&userId=<%=userId%>'">
                <p><img src="../image/mine/task_query.png" /></p>
                <p>任务查询</p>
            </li>-->

        </ul>
    </div>
</div>
</body>
<script type="text/javascript" src="/drawback/assets/js/clipboard.min.js"></script>
<script type="text/javascript" src="/drawback/js/mine/center.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var sessionId = [[${sessionId}]];
    /*]]>*/
</script>
</html>