<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/header_common.css" />
    <link rel="stylesheet" href="/css/receipt/min.css" />
    <link rel="stylesheet" href="/assets/layer_mobile/need/layer.css" />
    <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/assets/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="/assets/js/font-size.js"></script>
    <script type="text/javascript" src="/assets/js/global_variable.js"></script>
    <script type="text/javascript" src="/assets/js/jsonselect.js"></script>
    <title>趣点</title>
</head>
<body style="background:#fff;">
<div class="main">
    <div class="main_bot">
    </div>
    <!-- 查询记录时已有的历史记录 -->
    <diV class="exist">
        <div class="discountgoods_title">
            <ul>
                <li id="home" class="salesHome">热点趣事</li>
                <li id="min" class="salesMin">我的趣事</li>
                <li id="check" class="salesCheck">我来审核</li>
                <li id="center" class="salesCenter">个人中心</li>
            </ul>
        </div>
        <div class="kong"></div>

        <!--发表-->
        <div class="record_frame_min">
            <textarea value="" placeholder="在这里说一说有趣的事情..."class="commenClass"></textarea>
            <button id="publish" type="button" class="criticism">发表</button>
            <button id="imgID" type="button" class="imgclass">图片</button>
            <input type="file" id="image" name="image" style="display:none;" onchange="setImagePreview()"/>
            <img id="preview" src="" width="1.8rem" height="1.8rem" style="display: none; margin-left: 2rem;"/>
        </div>
        <!-- 没有查询记录时显示的内容 -->
        <div class="without">
            <p class="wit_condition">还没有你的趣点记录</p>
            <p class="wit_service">赶快发表自己的趣事，涨知识赚现金</p>
        </div>
        <!-- 查询的列表 -->
        <div class="withdrawal_record">
            <ul>
            </ul>
        </div>
        <div class="record_frame">

        </div>
    </diV>

</div>
<!-- 弹框 -->
<div class="warm" style="display: none;">
    <div class="warm_title">
        <h4>提示</h4>
        <p>该小票未被上传</p>
    </div>
    <div class="warm_choose">
        <a class="warm_cancel">取消</a>
        <a class="warm_login" href="toUploadReceipts.jsp">上传小票</a>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/receipt/min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var sessionId = [[${sessionId}]];
    /*]]>*/
</script>
</html>
