<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/drawback/assets/css/common.css" />
    <link rel="stylesheet" href="/drawback/assets/css/header_common.css" />
    <link rel="stylesheet" href="/drawback/css/receipt/receipt.css" />
    <link rel="stylesheet" href="/drawback/assets/layer_mobile/need/layer.css" />
    <script type="text/javascript" src="/drawback/assets/js/global_variable.js"></script>
    <script type="text/javascript" src="/drawback/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/drawback/assets/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="/drawback/assets/js/font-size.js"></script>
    <script type="text/javascript" src="/drawback/assets/js/jsonselect.js"></script>
    <title>趣点</title>
</head>
<body style="background:#fff;">
<div class="main">
    <div class="main_bot">
        <!--<div class="wx_sum">
           &lt;!&ndash; <p>
                <input type="text" id="demo1" placeholder="请输入“小票号”进行查询" value="" />
            </p>
            <button type="button" id="query">查询</button>&ndash;&gt;
            <a href="">热度</a>
            <a href="">时间</a>
            <a href="">审核</a>
        </div>-->
    </div>
    <!-- 没有查询记录时显示的内容 -->
    <!--<div class="without">
        <p class="wit_condition">还没有趣事</p>
        <p class="wit_service">。。。空空如也。。。</p>
    </div>-->
    <!-- 查询记录时已有的历史记录 -->
    <diV class="exist">
        <div class="discountgoods_title">
            <ul>
                <li id="home" class="salesHome">热点趣事</li>
                <li id="min" class="salesMin">我的趣事</li>
                <li id="check" class="salesCheck">我来审核</li>
                <li id="center" class="salesCenter">个人中心</li>
            </ul>
        </div>
        <!--<div class="kong"></div>-->
        <!-- 查询的列表 -->
        <div class="withdrawal_record">
            <!--<a>按时间</a><a>按热度</a>>-->
            <a  id="withdrawal_time" class="sort">按时间</a>
            <a  id="withdrawal_redu" class="sort">按热度</a>
            <ul>
            </ul>
        </div>

    </diV>
    <div class="record_frame">

    </div>
</div>
</body>
<script type="text/javascript"  src="/drawback/js/receipt/receipt.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var sessionId = [[${sessionId}]];
    /*]]>*/
</script>
</html>
